# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# PyInstaller
build/
dist/
*.spec

# Tauri
src-tauri/target/
src-tauri/binaries/
src-tauri/gen/

# Node
node_modules/
web/dist/
web/node_modules/

# IDEs
.vscode/
.idea/
*.swp

# Misc
MLAPI/
